In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/survey_results_public.csv')

In [3]:
pd.set_option('display.max_columns', 61)
pd.set_option('display.max_rows', 61)

In [4]:
#df.head()

In [5]:
#df.loc[0:4, 'Hobbyist']

In [6]:
df.set_index('Respondent', inplace = True)

In [7]:
#df['ConvertedComp'].head(20)

In [8]:
df['ConvertedComp'].median()

54049.0

In [9]:
df.median()

Age                 29.0
CompTotal        63000.0
ConvertedComp    54049.0
WorkWeekHrs         40.0
dtype: float64

In [10]:
#df['WorkWeekHrs'].head(20)

In [11]:
df.describe()

                Age      CompTotal  ConvertedComp   WorkWeekHrs
count  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean      30.834111  3.190464e+242   1.037561e+05     40.782174
std        9.585392            inf   2.268853e+05     17.816383
min        1.000000   0.000000e+00   0.000000e+00      1.000000
25%       24.000000   2.000000e+04   2.464800e+04     40.000000
50%       29.000000   6.300000e+04   5.404900e+04     40.000000
75%       35.000000   1.250000e+05   9.500000e+04     44.000000
max      279.000000  1.111111e+247   2.000000e+06    475.000000

In [12]:
df['ConvertedComp'].count()

34756

In [13]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [14]:
df['JobSeek'].value_counts()

I’m not actively looking, but I am open to new opportunities    29776
I am not interested in new job opportunities                    13001
I am actively looking for a job                                  8950
Name: JobSeek, dtype: int64

In [15]:
df['JobSeek'].value_counts(normalize = True)

I’m not actively looking, but I am open to new opportunities    0.575637
I am not interested in new job opportunities                    0.251339
I am actively looking for a job                                 0.173024
Name: JobSeek, dtype: float64

In [16]:
df['Country'].value_counts()#normalize = True

United States                         12469
India                                  8403
United Kingdom                         3896
Germany                                3890
Canada                                 2191
                                      ...
Micronesia, Federated States of...        1
Grenada                                   1
Saint Lucia                               1
Mali                                      1
Kiribati                                  1
Name: Country, Length: 183, dtype: int64

In [17]:
country_grp = df.groupby(['Country'])

In [18]:
#country_grp.get_group('United States')

In [19]:
#filt = df['Country']=='United States'
filt = df['Country']=='Bangladesh'
df.loc[filt]['JobSeek'].value_counts()#normalize = True

I’m not actively looking, but I am open to new opportunities    246
I am actively looking for a job                                 164
I am not interested in new job opportunities                     28
Name: JobSeek, dtype: int64

In [20]:
fi = country_grp['JobSeek'].value_counts()
fi.loc[['United States','Bangladesh', 'India', 'Canada', 'China']]

Country        JobSeek
Bangladesh     I’m not actively looking, but I am open to new opportunities     246
               I am actively looking for a job                                  164
               I am not interested in new job opportunities                      28
Canada         I’m not actively looking, but I am open to new opportunities    1065
               I am not interested in new job opportunities                     549
               I am actively looking for a job                                  248
China          I’m not actively looking, but I am open to new opportunities     146
               I am actively looking for a job                                   54
               I am not interested in new job opportunities                      50
India          I’m not actively looking, but I am open to new opportunities    3413
               I am actively looking for a job                                 1941
               I am not interested in new job opportunities                     677
United States  I’m not actively looking, but I am open to new opportunities    5833
               I am not interested in new job opportunities                    3345
               I am actively looking for a job                                 1482
Name: JobSeek, dtype: int64

In [21]:
country_grp['ConvertedComp'].median()#.loc['Bangladesh']

Country
Afghanistan                             15163.5
Albania                                 15900.0
Algeria                                  9432.0
Andorra                                 88640.0
Angola                                   5292.0
                                         ...
Venezuela, Bolivarian Republic of...     3600.0
Viet Nam                                10344.0
Yemen                                   36000.0
Zambia                                   5452.0
Zimbabwe                                 7200.0
Name: ConvertedComp, Length: 183, dtype: float64

In [22]:
#country_grp['ConvertedComp'].agg(['median', 'mean']).loc['Zimbabwe']
country_grp['ConvertedComp'].agg(['median', 'mean']).loc['Bangladesh']

median     7068.000000
mean      21586.559783
Name: Bangladesh, dtype: float64

In [23]:
filt = df['Country']=='India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

2670

In [25]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [29]:
country_respondents = df['Country'].value_counts()
country_respondents

United States                         12469
India                                  8403
United Kingdom                         3896
Germany                                3890
Canada                                 2191
                                      ...
Micronesia, Federated States of...        1
Grenada                                   1
Saint Lucia                               1
Mali                                      1
Kiribati                                  1
Name: Country, Length: 183, dtype: int64

In [67]:
country_uses_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [68]:
python_df = pd.concat([country_respondents,country_uses_python ], axis = 'columns')
python_df

                                    Country  LanguageWorkedWith
United States                         12469                5964
India                                  8403                2670
United Kingdom                         3896                1621
Germany                                3890                1712
Canada                                 2191                1011
...                                     ...                 ...
Micronesia, Federated States of...        1                   1
Grenada                                   1                   0
Saint Lucia                               1                   1
Mali                                      1                   0
Kiribati                                  1                   0

[183 rows x 2 columns]

In [69]:
python_df.rename(columns = { 'Country': 'NumRespondents', 'LanguageWorkedWith': 'NumKnowsPython'}, inplace = True)

python_df

                                    NumRespondents  NumKnowsPython
United States                                12469            5964
India                                         8403            2670
United Kingdom                                3896            1621
Germany                                       3890            1712
Canada                                        2191            1011
...                                            ...             ...
Micronesia, Federated States of...               1               1
Grenada                                          1               0
Saint Lucia                                      1               1
Mali                                             1               0
Kiribati                                         1               0

[183 rows x 2 columns]

In [51]:
python_df['pctKnowspython'] = (python_df['NumKnowsPython']/python_df['NumRespondents'])*100

In [52]:
python_df

,NumRespondents,NumKnowsPython,pctKnowspython
United States,12469,5964,47.830620
India,8403,2670,31.774366
United Kingdom,3896,1621,41.606776
Germany,3890,1712,44.010283
Canada,2191,1011,46.143314
...,...,...,...
"Micronesia, Federated States of...",1,1,100.000000
Grenada,1,0,0.000000
Saint Lucia,1,1,100.000000
Mali,1,0,0.000000
Kiribati,1,0,0.000000

In [54]:
python_df.sort_values(by = 'pctKnowspython', ascending= False, inplace = True)

In [61]:
#python_df.head(30)

In [62]:
python_df.loc['Bangladesh']

NumRespondents    609.000000
NumKnowsPython    179.000000
pctKnowspython     29.392447
Name: Bangladesh, dtype: float64

In [64]:
#python_df.loc['India']