In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv',index_col='Column')

In [3]:
pd.set_option('display.max_columns', 61)
pd.set_option('display.max_rows', 61)

In [4]:
#df

In [5]:
df.shape

(64461, 60)

In [35]:
high_salary = df['ConvertedComp']>70000

In [36]:
df.loc[high_salary, ['Age','Country','LanguageWorkedWith','ConvertedComp']]

,Age,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,,
8,36.0,United States,Python;SQL,116000.0
16,45.0,United Kingdom,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,108576.0
17,25.0,United States,C#;HTML/CSS;JavaScript;Python;SQL;VBA,79000.0
18,32.0,United States,Bash/Shell/PowerShell;HTML/CSS;Perl,1260000.0
19,24.0,United States,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...,83400.0
...,...,...,...,...
65586,NaN,United States,NaN,225000.0
65589,NaN,United States,NaN,150000.0
65602,NaN,United States,NaN,140000.0
65604,NaN,United States,NaN,150000.0
65617,NaN,Germany,NaN,129718.0

In [37]:
countries =['United States','India','Germany','Canada','Bangladesh']
filt = df['Country'].isin(countries)

In [38]:
df.loc[filt,['Country','ConvertedComp']]

                  Country  ConvertedComp
Respondent
1                 Germany            NaN
5           United States            NaN
6                 Germany            NaN
7                   India            NaN
8           United States       116000.0
...                   ...            ...
62954               India            NaN
63077       United States            NaN
63796          Bangladesh            NaN
64236               India            NaN
64858       United States            NaN

[27562 rows x 2 columns]

In [39]:
#schema_df

In [40]:
#df.columns

In [41]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [42]:
df.loc[[1,2,3,4,5],[ 'MainBranch','Hobbyist']]

                                                   MainBranch Hobbyist
Respondent
1                              I am a developer by profession      Yes
2                              I am a developer by profession       No
3                                 I code primarily as a hobby      Yes
4                              I am a developer by profession      Yes
5           I used to be a developer by profession, but no...      Yes

In [43]:
df.loc[1,'Hobbyist']

'Yes'

In [44]:
#df.loc[1:4, ['Hobbyist','MainBranch','Employment']]

In [45]:
#df.loc[1:4, 'MainBranch':'Country']

In [46]:
schema_df.loc['Hobbyist']

QuestionText    Do you code as a hobby?
Name: Hobbyist, dtype: object

In [47]:
schema_df.loc['JobFactors']

QuestionText    Imagine that you are deciding between two job ...
Name: JobFactors, dtype: object

In [48]:
schema_df.sort_index(inplace=True)

In [50]:
filt = df['LanguageWorkedWith'].str.contains('Python', na = False)

In [53]:
df.loc[filt,['LanguageWorkedWith']]

                                           LanguageWorkedWith
Respondent
3                                    Objective-C;Python;Swift
8                                                  Python;SQL
10                        HTML/CSS;Java;JavaScript;Python;SQL
13                                        C;JavaScript;Python
15           Bash/Shell/PowerShell;C;HTML/CSS;Java;Python;SQL
...                                                       ...
61561       Bash/Shell/PowerShell;HTML/CSS;JavaScript;Perl...
62391          C++;HTML/CSS;JavaScript;Python;Ruby;TypeScript
63077                 C++;HTML/CSS;Java;JavaScript;Python;SQL
63640       Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
64867       Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...

[25287 rows x 1 columns]