In [1]:
people = {
    'First' : ['Jasim', 'Shanto', 'Abdur', 'Jewel'],
    'Last'  : ['Uddin', 'Rahman', 'Rahim', 'Mahmud'],
    'Email' : ['jasimcse@gmail.com', 'shantocse@gmail.com', 'rahimcse@gmail.com', 'jewelcse@gmail.com']
}

In [2]:
people

{'First': ['Jasim', 'Shanto', 'Abdur', 'Jewel'],
 'Last': ['Uddin', 'Rahman', 'Rahim', 'Mahmud'],
 'Email': ['jasimcse@gmail.com',
  'shantocse@gmail.com',
  'rahimcse@gmail.com',
  'jewelcse@gmail.com']}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

    First    Last                Email
0   Jasim   Uddin   jasimcse@gmail.com
1  Shanto  Rahman  shantocse@gmail.com
2   Abdur   Rahim   rahimcse@gmail.com
3   Jewel  Mahmud   jewelcse@gmail.com

In [6]:
df.columns

Index(['First', 'Last', 'Email'], dtype='object')

In [7]:
df.columns = ['first_name','last_name', 'email']

In [8]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [9]:
df.loc[0,['email','last_name']]

email        jasimcse@gmail.com
last_name                 Uddin
Name: 0, dtype: object

In [10]:
df.columns = [x.upper() for x in df.columns]

In [11]:
df

  FIRST_NAME LAST_NAME                EMAIL
0      Jasim     Uddin   jasimcse@gmail.com
1     Shanto    Rahman  shantocse@gmail.com
2      Abdur     Rahim   rahimcse@gmail.com
3      Jewel    Mahmud   jewelcse@gmail.com

In [12]:
df.columns = df.columns.str.replace('_', ' ')

In [13]:
#df

In [14]:
df.columns = df.columns.str.replace(' ', '_')
df

  FIRST_NAME LAST_NAME                EMAIL
0      Jasim     Uddin   jasimcse@gmail.com
1     Shanto    Rahman  shantocse@gmail.com
2      Abdur     Rahim   rahimcse@gmail.com
3      Jewel    Mahmud   jewelcse@gmail.com

In [15]:
df.columns = [x.lower() for x in df.columns]
df

  first_name last_name                email
0      Jasim     Uddin   jasimcse@gmail.com
1     Shanto    Rahman  shantocse@gmail.com
2      Abdur     Rahim   rahimcse@gmail.com
3      Jewel    Mahmud   jewelcse@gmail.com

In [17]:
df.rename(columns = {'first_name':'first', 'last_name':'last'}, inplace = True)

In [18]:
df

    first    last                email
0   Jasim   Uddin   jasimcse@gmail.com
1  Shanto  Rahman  shantocse@gmail.com
2   Abdur   Rahim   rahimcse@gmail.com
3   Jewel  Mahmud   jewelcse@gmail.com

In [20]:
df.loc[1] = ['Shahinur','Rahman','shahinurcse@gmail.com']

In [21]:
df

      first    last                  email
0     Jasim   Uddin     jasimcse@gmail.com
1  Shahinur  Rahman  shahinurcse@gmail.com
2     Abdur   Rahim     rahimcse@gmail.com
3     Jewel  Mahmud     jewelcse@gmail.com