In [24]:
people = {
    'First' : ['Jasim', 'Rakib', 'Tamim', 'Jewel'],
    'Last'  : ['Uddin', 'Hasan', 'Hasan', 'Mahmud'],
    'Email' : ['jasimcse@gmail.com', 'rakibcse@gmail.com', 'tamimcse@gmail.com', 'jewelcse@gmail.com']
}

In [25]:
import pandas as pd

In [26]:
df = pd.DataFrame(people)

In [27]:
df

   First    Last               Email
0  Jasim   Uddin  jasimcse@gmail.com
1  Rakib   Hasan  rakibcse@gmail.com
2  Tamim   Hasan  tamimcse@gmail.com
3  Jewel  Mahmud  jewelcse@gmail.com

In [28]:
df['Email']

0    jasimcse@gmail.com
1    rakibcse@gmail.com
2    tamimcse@gmail.com
3    jewelcse@gmail.com
Name: Email, dtype: object

In [29]:
df['First']

0    Jasim
1    Rakib
2    Tamim
3    Jewel
Name: First, dtype: object

In [30]:
type(df['Email'])

pandas.core.series.Series

In [31]:
df[['First', 'Email']]

   First               Email
0  Jasim  jasimcse@gmail.com
1  Rakib  rakibcse@gmail.com
2  Tamim  tamimcse@gmail.com
3  Jewel  jewelcse@gmail.com

In [32]:
type(df[['First', 'Email']])

pandas.core.frame.DataFrame

In [33]:
df.columns

Index(['First', 'Last', 'Email'], dtype='object')

In [34]:
df.iloc[0]

First                 Jasim
Last                  Uddin
Email    jasimcse@gmail.com
Name: 0, dtype: object

In [35]:
type(df.iloc[0])

pandas.core.series.Series

In [36]:
df.iloc[[0,1], 2]

0    jasimcse@gmail.com
1    rakibcse@gmail.com
Name: Email, dtype: object

In [37]:
df.loc[[0,1], ['First','Email']]

   First               Email
0  Jasim  jasimcse@gmail.com
1  Rakib  rakibcse@gmail.com

In [38]:
df.set_index('Email', inplace=True)

In [39]:
df

                    First    Last
Email
jasimcse@gmail.com  Jasim   Uddin
rakibcse@gmail.com  Rakib   Hasan
tamimcse@gmail.com  Tamim   Hasan
jewelcse@gmail.com  Jewel  Mahmud

In [40]:
df.index

Index(['jasimcse@gmail.com', 'rakibcse@gmail.com', 'tamimcse@gmail.com',
       'jewelcse@gmail.com'],
      dtype='object', name='Email')

In [41]:
df.iloc[0]

First    Jasim
Last     Uddin
Name: jasimcse@gmail.com, dtype: object

In [42]:
df.reset_index(inplace = True)

In [43]:
df

                Email  First    Last
0  jasimcse@gmail.com  Jasim   Uddin
1  rakibcse@gmail.com  Rakib   Hasan
2  tamimcse@gmail.com  Tamim   Hasan
3  jewelcse@gmail.com  Jewel  Mahmud

In [71]:
filt = (df['Last']=='Hasan')|(df['First']=='Jasim')

In [72]:
df[~filt]

                Email  First    Last
3  jewelcse@gmail.com  Jewel  Mahmud

In [73]:
df.loc[filt, 'Email']

0    jasimcse@gmail.com
1    rakibcse@gmail.com
2    tamimcse@gmail.com
Name: Email, dtype: object