In [2]:
people = {
    'First' : ['Jasim', 'Rakib', 'Tamim', 'Jewel'],
    'Last'  : ['Uddin', 'Hasan', 'Hasan', 'Mahmud'],
    'Email' : ['jasimcse@gmail.com', 'rakibcse@gmail.com', 'tamimcse@gmail.com', 'jewelcse@gmail.com']
}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   First    Last               Email
0  Jasim   Uddin  jasimcse@gmail.com
1  Rakib   Hasan  rakibcse@gmail.com
2  Tamim    Dari  tamimcse@gmail.com
3  Jewel  Mahmud  jewelcse@gmail.com

In [6]:
df['Email']

0    jasimcse@gmail.com
1    rakibcse@gmail.com
2    tamimcse@gmail.com
3    jewelcse@gmail.com
Name: Email, dtype: object

In [7]:
df['First']

0    Jasim
1    Rakib
2    Tamim
3    Jewel
Name: First, dtype: object

In [8]:
type(df['Email'])

pandas.core.series.Series

In [9]:
df[['First', 'Email']]

   First               Email
0  Jasim  jasimcse@gmail.com
1  Rakib  rakibcse@gmail.com
2  Tamim  tamimcse@gmail.com
3  Jewel  jewelcse@gmail.com

In [10]:
type(df[['First', 'Email']])

pandas.core.frame.DataFrame

In [11]:
df.columns

Index(['First', 'Last', 'Email'], dtype='object')

In [12]:
df.iloc[0]

First                 Jasim
Last                  Uddin
Email    jasimcse@gmail.com
Name: 0, dtype: object

In [13]:
type(df.iloc[0])

pandas.core.series.Series

In [14]:
df.iloc[[0,1], 2]

0    jasimcse@gmail.com
1    rakibcse@gmail.com
Name: Email, dtype: object

In [15]:
df.loc[[0,1], ['First','Email']]

   First               Email
0  Jasim  jasimcse@gmail.com
1  Rakib  rakibcse@gmail.com

In [18]:
df.set_index('Email', inplace=True)

In [19]:
df

                    First    Last
Email
jasimcse@gmail.com  Jasim   Uddin
rakibcse@gmail.com  Rakib   Hasan
tamimcse@gmail.com  Tamim    Dari
jewelcse@gmail.com  Jewel  Mahmud

In [20]:
df.index

Index(['jasimcse@gmail.com', 'rakibcse@gmail.com', 'tamimcse@gmail.com',
       'jewelcse@gmail.com'],
      dtype='object', name='Email')

In [21]:
df.iloc[0]

First    Jasim
Last     Uddin
Name: jasimcse@gmail.com, dtype: object

In [22]:
df.reset_index(inplace = True)

In [23]:
df

                Email  First    Last
0  jasimcse@gmail.com  Jasim   Uddin
1  rakibcse@gmail.com  Rakib   Hasan
2  tamimcse@gmail.com  Tamim    Dari
3  jewelcse@gmail.com  Jewel  Mahmud