In [1]:
import pandas as pd

In [20]:
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv',index_col='Column')

In [34]:
pd.set_option('display.max_columns', 61)
pd.set_option('display.max_rows', 61)

In [47]:
#df

In [36]:
df.shape

(64461, 60)

In [41]:
high_salary = df['ConvertedComp']>70000

In [44]:
df.loc[high_salary, ['Age','Country','LanguageWorkedWith','ConvertedComp']]

,Age,Country,LanguageWorkedWith
Respondent,,,
8,36.0,United States,Python;SQL
16,45.0,United Kingdom,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
17,25.0,United States,C#;HTML/CSS;JavaScript;Python;SQL;VBA
18,32.0,United States,Bash/Shell/PowerShell;HTML/CSS;Perl
19,24.0,United States,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...
...,...,...,...
65586,NaN,United States,NaN
65589,NaN,United States,NaN
65602,NaN,United States,NaN
65604,NaN,United States,NaN
65617,NaN,Germany,NaN

In [45]:
#schema_df

In [46]:
#df.columns

In [9]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [10]:
df.loc[[1,2,3,4,5],[ 'MainBranch','Hobbyist']]

                                                   MainBranch Hobbyist
Respondent
1                              I am a developer by profession      Yes
2                              I am a developer by profession       No
3                                 I code primarily as a hobby      Yes
4                              I am a developer by profession      Yes
5           I used to be a developer by profession, but no...      Yes

In [11]:
df.loc[1,'Hobbyist']

'Yes'

In [12]:
df.loc[1:4, ['Hobbyist','MainBranch','Employment']]

,Hobbyist,MainBranch,Employment
Respondent,,,
1,Yes,I am a developer by profession,"Independent contractor, freelancer, or self-em..."
2,No,I am a developer by profession,Employed full-time
3,Yes,I code primarily as a hobby,NaN
4,Yes,I am a developer by profession,NaN

In [13]:
df.loc[1:4, 'MainBranch':'Country']

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country
Respondent,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania

In [14]:
schema_df.loc['Hobbyist']

QuestionText    Do you code as a hobby?
Name: Hobbyist, dtype: object

In [15]:
schema_df.loc['JobFactors']

QuestionText    Imagine that you are deciding between two job ...
Name: JobFactors, dtype: object

In [16]:
schema_df.sort_index(inplace=True)